:root {
    /* Cores de fundo */
    --white: #fff; /* container, texto button e texto doador-found*/
    --blue-green: #005f73; /* cor de fundo botão e texto | cor de fundo doador-found e border */
    --waterGreen: #0a9396; /* hover do button */
    --lightGray: #ccc;

}

* {
    font-family: "Roboto", sans-serif;
}

/* ---- Doação---- */
.form-container {
    max-width: 400px;
    margin: 0 auto; /*centralizando o container*/
    background: var(--white);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.1);
}


/* ---Estilo h2 forms Doação, Usuário--- */

.form-container h2 {
    margin-bottom: 20px;
    text-align: center;
    color: var(--blue-green);
    font-weight: 700;
    font-size: 40px;
}

.form-container form label,
.form-container form select {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.form-container form input,
.form-container form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--lightGray);
    border-radius: 5px;
}


/* Estilo dos Botões forms Doação, Usuário */

.form-container button {
    width: 150px;
    padding: 8px 16px;
    background: var(--blue-green);
    color: var(--white);
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s;
    display: block;
    /* Garantindo que o botão se comporte como um bloco */
    margin: 20px auto 0;
    /* Centraliza o botão e adiciona um espaço acima dele */
}

.form-container button:hover {
    background: var(--waterGreen);
}

.form-container img {
    max-width: 100px;
    justify-self: center;
    align-self: center;
}

.form-container img:hover {
    opacity: .5;
}

.doador-area {
    padding: 40px 0;
}

.doador-found {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding: 24px 16px;
    margin: 10px 0 20px 0;
    background-color: var(--blue-green);
    border: solid 1px var(--blue-green);
    color: var(--white);
    font-weight: bold;
}