.user-container {
    margin: 0 auto;
    margin-top: 50px;
}

.user-container h2 {
    font-size: 2rem;
}

.user-area form label {
    margin-top: 10px;
    font-size: 1.3rem;
}

.user-area form input, .user-area form select {
    width: 350px;
    font-size: 1.1rem;
}

.user-area .btn-submit {
    width: '100%';
    font-size: 1.2rem;
}