body{
    display: flex;
}

.report-container {
    max-width: 500px;
    margin: 0 auto;
    background: var(--white);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: var(--blue-green);
    margin-top: 50px;
}

.report-container h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}
.topic{
    font-size: 1.2rem;
    font-weight: bold;
}
.report-container ul li ul,
.report-container ul li span
{
    font-size: 1.2rem;
    margin-left: 25px;
    font-weight: lighter;
}

.report-container ul li:hover {
    background-color: #e9ecef;
    cursor: pointer;
    border-radius: 10px;
}

.report-container img{
    width: 40%;
    margin: 0 30%;
}

.balance h2{
    font-size: 3rem;
    margin: 0 auto;
}
.balance h3{
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
}
.balance{
    margin-top: 20px;
}
.balance-list table,th,tr,td{
    margin-top: 20px;
    width: 100%;
    border: 2px solid;
    border-collapse: collapse;
    text-align: center;
    padding: 8px;
}
 tbody tr:hover {
    background-color: var(--blue-green);
    color: var(--white);
}
.balance-btn{
    display: flex;
    justify-content: center;
}
.update-btn{
    background-color: var(--blue-green);
    color: var(--white);
    border: none;
    width: 40%;
    padding: 10px;
    font-size: 1.1rem;
    border-radius: 10px;
    margin-top: 20px;
}
.update-btn:active{
    background-color: var(--water-green);
}