.container {
    display: flex;
    width: 100vw;
    height:100vh;
    position: fixed;
}

.sidebar {
    width: 16%;
    background-color: var(--water-green);
    color: var(--white);
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease-in-out;
}

.logo {
    max-width: 100%;
    margin-bottom: 30px;
}

.sidebar ul{
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 15px 0;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
    font-size: 1.3rem;
    display: block;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background 0.3s;
}

.sidebar nav ul li a:hover {
    background-color: var(--blue-green);
}

.logout{
    margin-top: 100%;
    align-items: center;
    justify-content: center;
    align-self: center;
}