@media (max-width: 767px) {
    .sidebar {
        position: fixed;
        top: 0;
        left: -300px; /* Oculta o menu */
        height: 100%;
        transition: left 0.3s ease-in-out;
    }

    .sidebar.show {
        left: 0;
    }
    
}

.menu-toggle {
    display: none !important;
    position: absolute;
    top: 15px;
    left: 15px;
    background: none;
    border: none;
    font-size: 45px;
    cursor: pointer;
    color: #005f73;
    z-index: 1000;
}

.menu-toggle.active {
    display: none !important;
}

@media (max-width: 767px) {
    .menu-toggle {
        display: block !important;
    }
}